

#topSignal{
background-color: black;
width: 10px;
height: 70px;
margin-left: 82px;

}

#container{
background-color: black;
width: 56px;
height: 178px;
margin-left:50px;
padding: 7px;
border-radius: 10px;
}

.light{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    padding: 4px;
    cursor : pointer;
    &.red {background-color: rgb(224, 18, 18);}
    &.yellow {background-color: rgb(203, 224, 18);}
    &.green {background-color: rgb(14, 197, 60);}
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px ;}	
}


.light.selected{
       transform: scale(1);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
